.navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  a.nav-link {
    color: #fff;
  }

  .user {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-around;
  }
}