<form [formGroup]="loginForm" (ngSubmit)="login()">
  <app-input [customErrorMessages]="errorMessages" label="Email" inputId="email" type="text"
    formControlName="email"></app-input>
  <app-input [customErrorMessages]="errorMessages" label="Password" inputId="password" type="password"
    formControlName="password"></app-input>
  <app-input [customErrorMessages]="errorMessages" label="Username" inputId="username" type="text"
    formControlName="username"></app-input>
  <base-btn buttonText="Login" [isDisabled]="!loginForm.valid"></base-btn>
</form>


<!-- <app-select [customErrorMessages]="errorMessages" label="Hello" selectId="myId" [options]="['1', '2', '3']"
  [formControl]="age"></app-select> -->