<div class="dvs-form-control" *ngIf="controle">
  <mat-form-field class="full-width">
    <mat-label *ngIf="label" [class.required]="isRequired">{{label}}</mat-label>

    <!-- <label [for]="inputId" *ngIf="label" [class.required]="isRequired">{{label}}</label> -->

    <!-- <input [required]="isRequired" [type]="type" [id]="inputId" [formControl]="controle" /> -->
    <input matInput [required]="isRequired" [type]="type" [id]="inputId" [formControl]="controle">
  </mat-form-field>

  <app-validation-errors *ngIf="controle.touched" [customErrorMessages]="customErrorMessages"
    [errors]="controle.errors">
  </app-validation-errors>
</div>
