<div class="container">
  <input type="text" #filter (keyup)="search($event)">
  <!-- <button (click)="loadMore()">un</button> -->

  <ng-container *ngIf="isLoding">
    <mat-spinner></mat-spinner>
  </ng-container>
  <ng-container *ngIf="characters.length  ;else noResults">

    <mat-card appearance="outlined" *ngFor="let item of characters">
      <mat-card-title> {{item?.name}}</mat-card-title>
      <mat-card-subtitle> {{item?.id}}</mat-card-subtitle>

      <mat-card-content>
        <span>{{item?.description}}</span>
        <img [src]="getCharacterImage(item.thumbnail)!" width="464" height="261" alt="photo of {{item?.name}}" />

      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-template #noResults>
    no results
  </ng-template>
</div>